body{
    width: 1540px;
    font-family: outfit;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    font-weight: 400;
}
.QR-component{
    display: flex;
    flex-direction: column;
    margin: 100px 600px;
    height: 465px;
    width: 300px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}
.QR-image{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.bold-text, .light-text{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.bold-text{
    font-weight: 700 ;
    font-size: 21px;
}
.light-text{
    opacity: 0.65;
}
.QR{
    margin-top: 12px;
    width: 270px;
    height: 270px;
    margin-bottom: 15px;
}
